/******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
Challenge: https://github.com/Infoglobo/desafio-front-end
******************************************************************************/
.news-section{
  width: auto;
  margin: 5px;
  background-color: white;
}

.news-table{
  width: auto;
  margin: 0 auto;
  background-color: gray;
}

.news-line{
  width: auto;
  padding: 20px;
}

.news-column{
  width: 25%;
  background-color: white;
}

.news-division{
  width: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 5px solid brown;
}

.news-image{
  padding:10px;
  max-width:200px;
  max-height:150px;
}

.news-first-line li{
  width: auto;
	display: inline-block;
}

.news-date{
  margin-left: 10px;
  font-size: 15px;
}

.news-editoria{
  font-weight: bold;
  font-size: 15px;
}

.news-counter{
  margin-left: 10px;
  font-weight: bold;
  color: red;
}

.news-number{
  font-weight: bold;
  color: red;
}

.news-total{
  font-weight: bold;
  color: red;
}

.news-text{
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  max-width:200px;
  max-height:400px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:normal;
}

.news-title{
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}

.news-more{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
