/******************************************************************************
Project: Seniores Digitais - Labora/Alura/Oracle ONE
Programmer: Rosemeire Deconti
Date: December/2020
Challenge: https://github.com/Infoglobo/desafio-front-end
******************************************************************************/
.news-date{
  margin-left: 10px;
  font-size: 15px;
}

.news-division{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 5px solid brown;
}

.news-editoria{
  font-weight: bold;
  margin-left: 10px;
  font-size: 15px;
  text-align: left;
}

.news-image{
  padding:20px;
  max-width:200px;
  max-height:150px;
}

.news-section{
  width: auto;
  margin: 5px;
  background-color: white;
}

.news-list-line{
	width: auto;
	margin: 0 auto;
  text-align: center;
	padding: 10px;
	vertical-align: top;
}

.news-list-line li{
  border-left: 10px;
  border-color: brown;
  border-style: solid;
	display: inline-block;
	width: 25%;
	padding-bottom: 20px;
}

.news-more{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.news-text{
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  max-width:200px;
  max-height:400px;
  text-align: left;


  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-title{
  padding: 10px;
  max-width: 200px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
